# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode
*.vscode/

# vs
*.vs/

# debug
**/Debug/

# other
record_bug.md

build*/
/out/
/.vs/
/CMakePresets.json
/CMakeUserPresets.json
/build/
/build-SerialportTool-Qt_6_4_3_MinGW_64_bit_1d886e-Debug
/build-SerialportTool-Desktop_Qt_6_4_3_MSVC2019_64bit-Debug
/cmake-build-debug
/cmake-build-release
/.idea/
/.vscode/
/.cache

CMakeLists.txt.user
