[submodule "DebugTool/3rdparty/QScintilla_src-2.14.1"]
    path = DebugTool/3rdparty/QScintilla_src-2.14.1
    url = https://github.com/ScintillaOrg/lexilla.git
    branch = master

[submodule "DebugTool/3rdparty/ringbuffer"]
    path = DebugTool/3rdparty/ringbuffer
    url = https://github.com/filipecalasans/ringbuffer.git
    branch = master

[submodule "DebugTool/3rdparty/qwindowkit"]
	path = DebugTool/3rdparty/qwindowkit
	url = https://github.com/stdware/qwindowkit.git
    branch = main

[submodule "DebugTool/3rdparty/Qt-Advanced-Stylesheets"]
	path = DebugTool/3rdparty/Qt-Advanced-Stylesheets
        url = https://github.com/githubuser0xFFFF/Qt-Advanced-Stylesheets.git
    branch = main

[submodule "DebugTool/3rdparty/qcustomplot"]
    path = DebugTool/3rdparty/qcustomplot
    url = https://gitlab.com/DerManu/QCustomPlot.git
    branch = master

[submodule "DebugTool/3rdparty/glog"]
    path = DebugTool/3rdparty/glog
    url = https://github.com/google/glog.git
    branch = master

[submodule "DebugTool/3rdparty/qtmaterial"]
	path = DebugTool/3rdparty/qtmaterial
	url = https://github.com/laserpants/qt-material-widgets
